{{> header}}
<div class="container">
  <h3 class="blue-grey-text text-darken-1 mb-2" style="letter-spacing: 1px;">後台<span class="badge yellow lighten-3">景點資料</span></h3>
  <div class="d-flex">
    <a href="/admin/spots/create" class="waves-effect waves-light btn mb-2 mr-3" style="background: #fb8c00;"><i class="material-icons left">add</i>Create</a>
    
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons left">filter_alt</i>Category</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="?categoryId="><i class="material-icons">cloud</i>全部類別</a></li>
      {{#each categories}}
        <li><a href="?categoryId={{this.id}}"><i class="material-icons">cloud</i>{{this.name}}</a></li>
      {{/each}}
    </ul>
    {{#if category}}
    <div>
      <span class="badge grey lighten-3"><em>{{category.name}}</em></span>
    </div>
    {{/if}}
  </div>
  <table class="highlight">
    <thead>
      <tr>
          <th>景點</th>
          <th>類別</th>
          <th>#</th>
          <th>#</th>
      </tr>
    </thead>

    <tbody>
      {{#each spots}}
      <tr>
        <td><a href="/admin/spots/{{this.id}}">{{this.name}}</a></td>
        <td>[{{this.Category.name}}]</td>
        <td><a href="/admin/spots/{{this.id}}/edit"><i class="material-icons">edit</i></a></td>
        <form action="/admin/spots/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <td>
            <button class="waves-effect waves-light btn-flat p-0 m-0" type="submit" style="" onclick="return confirm(`確定要刪除「{{this.name}}」這筆景點資料嗎？`)"><i class="material-icons" style="color: red; font-size: 1.6rem;">delete</i></button>
          </td>
        </form>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="center mt-3 mb-4">
  <ul class="pagination">
    <li class="{{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}"><a href="/admin/spots?page={{pagination.prev}}&categoryId={{categoryId}}"><i class="material-icons">chevron_left</i></a></li>
    {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
        <li class="active"><a href="#">{{this}}</a></li>
      {{else}}
        <li class=""><a href="/admin/spots?page={{this}}&categoryId={{../categoryId}}">{{this}}</a></li>
      {{/ifCond}}
    {{/each}}
    <li class="waves-effect {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}"><a href="/admin/spots?page={{pagination.next}}&categoryId={{categoryId}}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.dropdown-trigger')
    const instances = M.Dropdown.init(elems)
  })
</script>