{{> header}}
<div class="container mb-5 mt-2">
  <h5 class="orange-text text-darken-4">{{spot.name}}</h5>
  <span>[{{spot.Category.name}}]</span>
  <div class="row mt-4">
    <div class="col s12 l6 mb-4">
      <img class="materialboxed" width="350" src="{{spot.image}}" style="border-radius: 10%;">
    </div>
    <div class="row">
      <div class="col s12 l6">
        <ul>
          <li class="mb-3"><i class="material-icons mr-1">chat</i>{{spot.description}}</li>
          <li class="mb-1"><i class="material-icons mr-1">schedule</i>營業時間：{{spot.opening_hours}} ～ {{spot.closed_hours}}</li>
          <li class="mb-1"><i class="material-icons mr-1">phone</i>聯絡電話：{{spot.tel}}</li>
          <li class="mb-1"><i class="material-icons mr-1">location_on</i>詳細地址：<a href="{{spot.google_link}}" target="_blank">{{spot.address}}</a></li>
          <li class="mb-1"><i class="material-icons mr-1">flag</i>評論數：{{spot.commentCounts}}</li>
        </ul>
      </div>
    </div>
  </div>
  <h5 class="teal-text text-darken-3">Comments</h5>
  <hr />
  {{#each spot.Comments}}
    <div class="row valign-wrapper">

      <div class="col s10">
        <blockquote>
          <p><i class="material-icons mr-1">person_pin</i>{{this.name}}</p>
          <p><i class="material-icons mr-1">textsms</i>{{this.text}}</p>
          <span class="grey-text text-lighten-1"><em>— {{relativeTimeFromNow this.createdAt}}</em></span>
        </blockquote>
      </div>
      <div class="col s2">
      {{#if ../user}}
          <form action="/comments/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="waves-effect waves-light btn-flat" onclick="return confirm('確定要刪除這則評論嗎？')"><i class="material-icons" style="color: red; font-size: 1.6rem;">delete</i></button>
          </form>
      {{/if}}
      </div>
    </div>
  {{/each}}
  <h5 class="teal-text text-darken-3 mt-3">Leave your Comment</h5>
  <div class="row">
    <form class="form-create s12" action="/comments" method="POST">
      <div class="row">
        <div class="input-field col s12 m3 mt-2">
          <i class="material-icons prefix">person_outline</i>
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m8">
          <i class="material-icons prefix">edit_note</i>
          <textarea id="text" name="text" class="materialize-textarea"></textarea>
          <label for="text">Comment</label>
        </div>
      </div>
      <div class="center mt-2 mb-4">
        <a class="waves-effect waves-light btn mr-3" href="javascript:window.location.replace(document.referrer)"><i class="material-icons left">reply</i>Back</a>
        <input type="hidden" name="spotId" value="{{spot.id}}" />
        <button class="waves-effect waves-light btn red" type="submit"><i class="material-icons right">send</i>Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const elems = document.querySelectorAll('.materialboxed')
    const instances = M.Materialbox.init(elems)
  })
</script>